.collection {
    .md-list-text-container {
        padding: 10px 0;
    }

    .md-avatar {
        height: 60px;
        width: 60px;
        min-width: 60px;
        background-image: url('../../static/record.svg');
        position: relative;
        z-index: 1;
    }

    &__no-results {
        text-align: center;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__no-results-image {
        margin-bottom: 25px;
        max-height: 150px;
    }
}