.scrobbler-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0;
    z-index: 99;

    &__song-name, &__album-artist {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;
    }

    &__queue-count {
        z-index: 99;
        display: block;
        background: #f44336;
        color: white;
        font-weight: 900;
        height: 15px;
        width: 15px;        
        position: absolute;
        bottom: -2px;
        left: -6px;
        text-align: center;
        font-size: 10px;
        padding-top: 3px;
        border-radius: 100%;
        font-family: 'Roboto';
    }

    &__now-scrobbling {
        
        &__icon {
            float: left;
            margin: 0 20px 0 25px;
            background-image: url('../../static/record.svg')
        }
        &__info {
            width: 70vw;
        }
    }
}