<div class="bottom-navigation">
  <scrobbler-bar v-if="isLoggedIn"></scrobbler-bar>
  <md-bottom-bar class="md-shift" @change="bottomBarActiveChanged" ref="bottomBar">
    <md-bottom-bar-item v-for="route in routes" :key="route.path" v-if="displayRouteInBottomBar(route)" :md-icon="getRouteIcon(route)" :route="route.path">
      <span v-if="route.meta && route.meta.displayName">
          {{ route.meta.displayName | capitalize }}
      </span>
      <span v-else>
          {{ route.name | capitalize }}
      </span>
    </md-bottom-bar-item>
  </md-bottom-bar>
</div>