<div id="release">
    <transition name="fade">
        <md-spinner :md-size="120" :md-stroke="1.5" md-indeterminate class="md-warn" v-if="releaseIsLoading"></md-spinner>
        <div class="release-item" v-else>
            <md-card>
                <md-card-media-cover md-solid :style="{ backgroundColor: artworkColor }">
                    <md-card-media md-ratio="1:1" class="release-item__cover" :style="{ backgroundImage: 'url(' + lowestQualityCover + ')' }">
                        <img v-if="releaseCoverImage" :src="releaseCoverImage[2]['#text']" @load="imageLoaded" :data-srcset="releaseCoverImageSrcSet"
                            :style="{ backgroundImage: 'url(' + lowestQualityCover + ')' }">
                    </md-card-media>
                    <md-card-area>
                        <div class="container">
                            <md-card-header>

                                <div class="md-title">
                                    {{ release.title }}
                                </div>
                                <div class="md-subheading">
                                    {{ release.artists[0].name }}
                                    <div class="md-subheading">
                                        <md-icon class="release-item__format-icon">
                                            <img :src="releaseFormatIcon" :alt="release.formats[0].name" v-if="releaseFormatIcon">
                                            <span v-else>
                                                music_note
                                            </span>
                                            <md-tooltip md-direction="right">{{ release.formats[0].name }}</md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                            </md-card-header>
                            <md-card-actions class="release-item__genres">
                                <md-chip v-for="style in release.styles" :key="style" :style="{ backgroundColor: artworkColor }">
                                    {{ style }}
                                </md-chip>
                            </md-card-actions>
                        </div>
                    </md-card-area>
                </md-card-media-cover>
            </md-card>
            <div class="release-item__content container">
                <md-card>
                    <md-card-content>
                        <md-list>
                            <md-list-item v-for="track in release.tracklist" :key="track.title">
                                <span>{{ track.title }}</span>
                                <md-button class="md-icon-button md-list-action" @click.native="scrobbleTrack(track.title)"> 
                                    <md-icon>play_arrow</md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </transition>
</div>