<div id="release">
    <transition name="fade">
        <md-spinner :md-size="120" :md-stroke="1.5" md-indeterminate class="md-warn" v-if="releaseIsLoading"></md-spinner>
        <div class="release-item" v-else>
            <div class="release-item__cover" :style="{ backgroundColor: artworkColor }">
                <img :src="releaseCoverImage[2]['#text']" @load="imageLoaded" :data-srcset="releaseCoverImageSrcSet" v-if="releaseCoverImage">
                <img :src="fallbackThumb" @load="imageLoaded" class="release-item__thumb">
            </div>
        </div>
    </transition>
</div>