.release-item {
    &__cover {
        user-select: none;
        height: 270px;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img {
            width: 100%;
            height: 100%;
            filter: blur(12px);
            opacity: 1;
            transform: scale(1.05);
            will-change: transform, filter;
            transition: transform .5s ease, filter 1s ease, opacity 1s linear .5s;
            position: relative;
            object-fit: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &.loaded {
                opacity: 1;
                filter: blur(0px);
                transform: scale(1);
            }
        }
    }
    &__thumb {
        filter: blur(20px);
    }
    &__content {
        margin-top: 15px;
    }
}