.login {
	&__stepper {
		margin-top: -40px;
		padding: 20px;
	}

	.md-toolbar {
		height: 128px;
		transition: height .5s linear;
		padding-bottom: 20px;
		&.is-logged-in {
			height: 100vh;
		}
	}
	.md-whiteframe {
		background-color: white;
	}
}