<div class="container">
    <md-layout md-align="center">
        <span class="md-headline">Authorization</span>
    </md-layout>
    <md-layout md-align="center">
        <md-stepper md-vertical @completed="authorizeDiscogs">
            <md-step md-label="Last.fm" :md-continue="!!lastfmSession">
                <md-button class="md-raised md-default" @click.native="authorizeLastfm" v-if="!lastfmSession">
                    Connect to Last.fm
                </md-button>
                <div v-if="lastfmSession">
                    <md-icon>
                        <img src="../../static/lastfm-logo.svg" alt="lastfm">
                    </md-icon>
                    Authorized as {{ lastfmSession.name }} <br>
                    <md-button class="md-default md-dense" @click.native="unauthorizeLastfm">
                        Unauthorize Last.fm
                    </md-button>
                </div>
            </md-step>
            <md-step md-label="Discogs">
                <md-layout>
                    <md-input-container>
                        <label>Discogs Username</label>
                        <md-input v-model="discogsUsername"></md-input>
                    </md-input-container>
                </md-layout>
            </md-step>
        </md-stepper>
    </md-layout>
</div>