@import '~vue-material/dist/vue-material.css';
.main-content {
    margin: 0 auto;
}

.md-toolbar {
    transition: background-color .3s ease;
}

.search-box {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%);
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s;
}

.fade-enter-active,
{
    transition-delay: .3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.md-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.md-menu-content .md-list {
    z-index: 99;
}

.md-bottom-bar {
    position: fixed;
    bottom: 0;
    z-index: 2
}

img[lazy] {
    transition: opacity .3s linear;
}

img[lazy=loading] {
    opacity: 0;
}

img[lazy="loaded"] {
    opacity: 1;
}