@import '~vue-material/dist/vue-material.css';

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}