@import '~vue-material/dist/vue-material.css';
html,
body {
    font-family: 'Roboto', sans-serif;
}

.main-content {
    margin: 0 auto;
    padding-bottom: 70px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.equalizer-icon {
    display: block;
    max-width: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    position: relative;
    left: 50%;
}

.scrobbling-bottom-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0;
    z-index: 99;
}

.now-scrobbling {
    width: 100%;
    &__icon {
        float: left;
        margin: 0 20px 0 25px;
    }
    &__info {
    }
}

.search-box-container {
    width: 50%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s linear;
}

.fade-enter-active,
{
    transition-delay: .2s;
}

.fade-enter,
.fade-leave-to {
    will-change: opacity;
    opacity: 0;
}

.md-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.md-menu-content .md-list {
    z-index: 99;
}

.md-theme-default,
.md-fab {
    transition: background-color .3s ease-in-out;
    will-change: background-color;
}

img[lazy] {
    transition: opacity .3s linear;
}

img[lazy="loading"] {
    opacity: 0;
}

img[lazy="loaded"] {
    opacity: 1;
}