<div class="dashboard container">
    <transition name="fade">
        <md-spinner :md-size="120" :md-stroke="1.5" md-indeterminate class="md-warn" v-if="collectionIsLoading"></md-spinner>
        <md-list v-else class="album-list">
            <md-list-item v-for="item in filteredCollection" :key="item.id" v-if="item" class="md-triple-line album-item">
                <router-link :to="{name:'release', params: { id: item.id }}">
                    <md-avatar>
                        <img v-lazy="item.basic_information.thumb" v-if="item.basic_information.thumb">
                        <img src="../../static/record.svg" v-else>
                    </md-avatar>
                    <div class="md-list-text-container">
                        <span>{{ item.basic_information.title }}</span>
                        <span>{{ item.basic_information.artists[0].name }}</span>
                        <p>{{ item.basic_information.formats[0].name }}</p>
                    </div>
                    <md-divider class="md-inset"></md-divider>
                </router-link>
            </md-list-item>
        </md-list>
    </transition>
</div>