.dashboard {
    .md-list-text-container {
        padding: 10px 0;
    }

    .md-avatar {
        height: 60px;
        width: 60px;
        min-width: 60px;
        background-image: url('../../static/record.svg')
    }
}